 {% for error in form.username.errors %}
            <div class="col-md-6 col-md-offset-4 text-danger">{{ error }}</div>
        {% endfor %}

        <div class="form-group">
            {{form.username.label(class='col-md-1 col-md-offset-3 control-label')}}
            <div class="col-md-5">
            {{form.username(class_='form-control',placeholder='User name')}}
            </div>
        </div>

        {% for error in form.password.errors %}
            <div class="col-md-6 col-md-offset-4 text-danger">{{error}}</div>
        {% endfor %}

        <div class="form-group">
            {{form.password.label(class='col-md-1 col-md-offset-3 control-label')}}
            <div class="col-md-5">
            {{form.password(class_='form-control',placeholder='Password')}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-6">
            <button type="submit" class="btn btn-default">Proceed</button>
            </div>
        </div>