
<nav>
<ul>
{% if request.authenticated_userid %}
    <li>Welcome {{username}}</li>
    <li><a href="{{request.route_url('home')}}">Home</a></li>
    <li><a href="{{request.route_url('userfiles')}}">My files</a></li>
    <li><a href="{{request.route_url('logout')}}">Sign Out</a></li>
    


{% else %}
<li><a href="{{request.route_url('home')}}">Home</a></li>
<li><a href="{{request.route_url('login')}}">Sign In</a></li>
<li><a href="{{request.route_url('register')}}">Sign Up</a></li>
{% endif %}

</ul>
</nav>