{% extends "layout.jinja2" %}
{% block content %}
<div class="col-md-6 col-md-offset-6">
<h1>Sign In</h1>
</div>


    <form action="{{request.route_url('login')}}" method="post" class="form-horizontal">

        {% include 'credentials.jinja2' %}


    </form>

{% endblock content %}