{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Starter project</span></h1>
  <p class="lead">Welcome to <span class="font-normal">{{project}}</span>, a&nbsp;Pyramid application generated&nbsp;by<br><span class="font-normal">Cookiecutter</span>.</p>
</div>

<form enctype="multipart/form-data" method="post">
<p>
FileNAme (gif default):<br>
<input type="text" name="filename" size="30" value="gif">
</p>
<p>
CHoose file<br>
<input type="file" name="datafile" id="file_input" size="40">
</p>
<input type="submit" value="Send">
</div>
</form>

<script type="text/javascript">
(function() {
  document.getElementById("file_input").onchange = function(){
    console.log(document.getElementById("file_input").files);
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(!file){
      return alert("No file selected.");
    }
    console.log(file);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/upload");
    var postData = new FormData();
    postData.append('file', file);
    xhr.send(postData);
  };
})();
</script>
{% endblock content %}
